[package]
name = "avail-light"
version = "1.1.2"
edition = "2021"
authors = ["Polygon Avail Team"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
kate-recovery = { git = "https://github.com/maticnetwork/avail-core.git", tag = "kate-recovery/v0.8.0" }
avail-subxt = { git = "https://github.com/maticnetwork/avail.git", tag = "v1.4.0-rc4" }
subxt = "0.27.1"
dusk-plonk = { git = "https://github.com/maticnetwork/plonk.git", tag = "v0.12.0-polygon-2"  }
url = "2.2.2"
tokio = { version = "1.21.2", features = ["full"] }
tokio-stream = "0.1.11"
futures-util = "0.3.17"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.68"
hyper = { version = "0.14.23", features = ["full", "http1"]}
hyper-tls = "0.5.0"
rand = "0.8.4"
regex = "1.5"
num = "0.4.0"
futures = { version = "0.3.15", default-features = false, features = ["std", "thread-pool"] }
chrono = "0.4.19"
libipld = { version = "0.12.0", default-features = false, features = ["dag-cbor"] }
multihash = { version = "0.14.0", default-features = false, features = ["blake3", "sha3"] }
libp2p = { version = "0.49.0", features = ["full"]}
thiserror = "1.0.37"
anyhow = "1.0.41"
tempdir = "0.3.7"
ed25519-dalek = "1.0.1"
async-std = { version = "1.12.0", features = ["attributes"] }
confy = "0.4.0"
num_cpus = "1.13.0"
structopt = "0.3.25"
rocksdb = { version = "0.17.0", features = ["snappy", "multi-threaded-cf"] }
threadpool = "1.8.1"
sp-core = "6.0.0"
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "full", "bit-vec"] }
scale-info = { version = "2.0.0", features = ["bit-vec"] }
hex = "0.4"
warp = "0.3.2"
tracing = "0.1.35"
tracing-subscriber = { version = "0.3.15", features = ["json"] }
prometheus-client = "0.18.1"
openssl = { version = "0.10", features = ["vendored"] }
void = "1.0.2"
itertools = "0.10.5"
base64 = "0.21.0"
mockall = "0.11.3"
async-trait = "0.1.66"

[dev-dependencies]
proptest = "1.0.0"
test-case = "1.2.3"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
