[package]
name = "avail-light"
version = "0.1.0"
edition = "2021"
authors = ["Polygon Avail Team"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
kate-recovery = {git = "https://github.com/maticnetwork/avail.git", rev = "c34308c"}
kate-proof = {git = "https://github.com/maticnetwork/avail.git", rev = "c34308c"}
dusk-plonk = { git = "https://github.com/maticnetwork/plonk.git", branch = "v0.8.2-polygon-4" }
tokio-tungstenite = { version = "0.16.1", features = ["native-tls"] }
url = "2.2.2"
tokio = { version = "1.2.0", features = ["full"] }
futures-util = "0.3.17"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.68"
hyper = { version = "0.14", features = ["full"]}
hyper-tls = "0.5.0"
rand = "0.8.4"
regex = "1.5"
num = "0.4.0"
futures = { version = "0.3.15", default-features = false, features = ["std", "thread-pool"] }
chrono = "0.4.19"
libipld = { version = "0.12.0", default-features = false, features = ["dag-cbor"] }
multihash = { version = "0.14.0", default-features = false, features = ["blake3", "sha3"] }
ipfs-embed = { version = "0.23.0" }
# libp2p-dns is indirect dependency of ipfs-embed
# v0.32.1 causes compilation errors of ipfs-embed v0.23.0
libp2p-dns = "=0.32.0" 
anyhow = "1.0.41"
tempdir = "0.3.7"
ed25519-dalek = "1.0.1"
async-std = { version = "1.9.0", features = ["attributes"] }
confy = "0.4.0"
num_cpus = "1.13.0"
structopt = "0.3.25"
rocksdb = { version = "0.17.0", features = ["snappy", "multi-threaded-cf"] }
threadpool = "1.8.1"
log = "0.4"
simple_logger = "2.1.0"
sp-core = "6.0.0"
sp-runtime = "6.0.0"
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "full", "bit-vec"] }
scale-info = { version = "2.0.0", features = ["bit-vec"] }
hex = "0.4"
warp = "0.3.2"

[dev-dependencies]
proptest = "1.0.0"
test-case = "1.2.3"

