[package]
name = "avail-light"
version = "0.1.0"
edition = "2021"
authors = ["Polygon Avail Team"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio-tungstenite = { version = "0.16.1", features = ["native-tls"] }
url = "2.2.2"
tokio = { version = "1.2.0", features = ["full"] }
futures-util = "0.3.17"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.68"
hyper = { version = "0.14", features = ["full"]}
hyper-tls = "0.5.0"
rand = "0.8.4"
rand_core = "0.6.3"
rand_chacha = "0.3"
dusk-plonk = { git = "https://github.com/maticnetwork/plonk.git", tag = "v0.8.2-polygon-2" }
dusk-bytes = "0.1"
regex = "1.5"
hex = "0.4"
num = "0.4.0"
futures = { version = "0.3.15", default-features = false, features = ["std", "thread-pool"] }
chrono = "0.4.19"
libipld = { version = "0.12.0", default-features = false, features = ["dag-cbor"] }
multihash = { version = "0.14.0", default-features = false, features = ["blake3"] }
ipfs-embed = { version = "0.22.4" }
anyhow = "1.0.41"
tempdir = "0.3.7"
ed25519-dalek = "1.0.1"
async-std = { version = "1.9.0", features = ["attributes"] }
confy = "0.4.0"
num_cpus = "1.13.0"
structopt = "0.3.25"
rocksdb = { version = "0.17.0", features = ["snappy"] }
threadpool = "1.8.1"
merlin = {version = "3.0", default-features = false}
sp-core = "3.0.0" 

[features]
logs = []
