[package]
name = "avail-light"
version = "1.7.4"
authors = ["Avail Team"]
default-run = "avail-light"
edition = "2021"
repository = "https://github.com/availproject/avail-light.git"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "api_compat_test"
test = false
bench = false

[[bin]]
name = "avail-light"
test = false
bench = false

[dependencies]
# TODO: Remove direct dependency after relevant traits are implemented in avail-subxt
subxt = "0.29"

# Internal deps
avail-core = { version = "0.5", git = "https://github.com/availproject/avail-core", tag = "node-v1.9.0.0" }
avail-subxt = { version = "0.4", git = "https://github.com/availproject/avail.git", tag = "v1.9.0.0" }
dusk-plonk = { git = "https://github.com/availproject/plonk.git", tag = "v0.12.0-polygon-2" }
kate-recovery = { version = "0.9", git = "https://github.com/availproject/avail-core", tag = "node-v1.9.0.0" }

# 3rd-party
async-std = { version = "1.12.0", features = ["attributes"] }
async-trait = "0.1.66"
base64 = "0.21.0"
better-panic = "0.3.0"
chrono = "0.4.19"
clap = { version = "4.3.23", features = ["derive", "cargo"] }
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive", "full", "bit-vec"] }
color-eyre = "0.6.2"
confy = "0.4.0"
derive_more = { version = "0.99.17", features = ["from"] }
futures = { version = "0.3.15", default-features = false, features = ["std", "async-await"] }
hex = "0.4"
human-panic = { version = "1.2.2", features = ["color"] }
hyper = { version = "0.14.23", features = ["full", "http1"] }
itertools = "0.10.5"
libc = "0.2.150"
libp2p = { version = "0.53.2", features = ["kad", "identify", "ping", "mdns", "autonat", "relay", "dcutr", "upnp", "noise", "yamux", "dns", "metrics", "tokio", "macros", "tcp", "quic", "serde"] }
libp2p-allow-block-list = "0.3.0"
mockall = "0.11.3"
multihash = { version = "0.14.0", default-features = false, features = ["blake3", "sha3"] }
num = "0.4.0"
num_cpus = "1.13.0"
pcap = "1.1.0"
rand = "0.8.4"
rand_chacha = "0.3"
rocksdb = { version = "0.21.0", features = ["snappy", "multi-threaded-cf"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.68"
smallvec = "1.6.1"
sp-core = { version = "21.0.0" }
strip-ansi-escapes = "0.2.0"
threadpool = "1.8.1"
tiny-bip39 = "1.0.0"
tokio = { version = "1.35", features = ["full"] }
tokio-stream = { version = "0.1.14", features = ["sync"] }
tokio-util = "0.7.10"
tracing = "0.1.35"
tracing-subscriber = { version = "0.3.15", features = ["json", "env-filter"] }
uuid = { version = "1.3.4", features = ["v4", "fast-rng", "macro-diagnostics", "serde"] }
void = "1.0.2"
warp = "0.3.6"

# OpenTelemetry
opentelemetry = "0.20.0"
opentelemetry-otlp = { version = "0.13.0", features = ["grpc-tonic", "metrics"] }
opentelemetry_api = { version = "0.20.0", features = ["metrics"] }
opentelemetry_sdk = { version = "0.20.0", features = ["metrics", "rt-tokio"] }

# Dependency `subxt` uses it's own 'version' of sp-core so we need to patch it :)
[patch.crates-io]
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }
sp-io = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }
sp-std = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }
sp-core-hashing = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v1.0.0" }

[features]
network-analysis = []
crawl = []
default = []

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.5"

[dev-dependencies]
hex-literal = "0.4.0"
proptest = "1.0.0"
test-case = "3.2.1"

[profile.debug-fast]
inherits = "release"
debug = true

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
incremental = false

[profile.maxperf]
inherits = "release"
lto = "fat"
codegen-units = 1
