[package]
name = "avail-light-core"
version = "0.0.0"
edition = "2021"
description = "Avail Light core driving library"

[dependencies]
# TODO: Remove direct dependency after relevant traits are implemented in avail-subxt
subxt = "0.34"

# Internal deps
avail-core = { workspace = true }
avail-subxt = { workspace = true }
dusk-plonk = { workspace = true }
kate-recovery = { workspace = true }

# 3rd-party
async-std = { workspace = true }
async-stream = "0.3.5"
async-trait = { workspace = true }
base64 = "0.21.0"
better-panic = "0.3.0"
chrono = "0.4.19"
codec = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive", "full", "bit-vec"] }
color-eyre = { workspace = true }
confy = { workspace = true }
derive_more = { version = "0.99.17", features = ["from"] }
futures = { version = "0.3.15", default-features = false, features = ["std", "async-await"] }
hex = { workspace = true }
hyper = { version = "0.14.23", features = ["full", "http1"] }
itertools = "0.10.5"
jsonrpsee-core = { version = "0.21.0", features = ["client"] }
libc = "0.2.150"
libp2p = { workspace = true }
libp2p-allow-block-list = { workspace = true }
libp2p-webrtc = { version = "=0.7.1-alpha", features = ["tokio"] }
mockall = "0.11.3"
multihash = { workspace = true }
num = "0.4.0"
num_cpus = "1.13.0"
pcap = "1.1.0"
rand = "0.8.4"
rand_chacha = "0.3"
rocksdb = { version = "0.21.0", features = ["snappy", "multi-threaded-cf"] }
semver = { workspace = true }
serde = { workspace = true }
serde_json = "1.0.68"
smallvec = "1.6.1"
sp-core = { version = "28.0.0", features = ["serde"] }
strip-ansi-escapes = "0.2.0"
subxt-signer = "0.34.0"
sysinfo = "0.30.12"
threadpool = "1.8.1"
tokio = { workspace = true }
tokio-retry = "0.3"
tokio-stream = { version = "0.1.14", features = ["sync"] }
tokio-util = "0.7.10"
tracing = { workspace = true }
uuid = { workspace = true }
void = { workspace = true }
warp = { workspace = true }

# OpenTelemetry
clap = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-otlp = { workspace = true }
opentelemetry_sdk = { workspace = true }
strum = { version = "0.26.3", features = ["derive"] }
tracing-subscriber = { workspace = true }

[dev-dependencies]
hex-literal = "0.4.0"
proptest = "1.0.0"
test-case = "3.2.1"

[features]
network-analysis = []
kademlia-rocksdb = []
crawl = []
default = []
