# Smoldot
# Copyright (C) 2019-2021  Parity Technologies (UK) Ltd.
# SPDX-License-Identifier: GPL-3.0-or-later WITH Classpath-exception-2.0
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: deploy

on:
  pull_request:  # All deployment steps are tested on PRs, but the actual deployment doesn't happen.
  push:
    branches:
      - main

jobs:
  build-push-docker-image:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
    - uses: docker/setup-qemu-action@v1
    - uses: docker/setup-buildx-action@v1
    - uses: actions/checkout@v2.3.4
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      # This `if` adds an additional safety against accidental pushes.
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      with:
        registry: docker.pkg.github.com
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v2.5.0
      with:
        context: .
        file: ./bin/full-node/Dockerfile
        load: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        tags: docker.pkg.github.com/paritytech/smoldot/node:main
    - run: docker push docker.pkg.github.com/paritytech/smoldot/node:main
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

  npm-publish:
    runs-on: ubuntu-latest
    container:
      image: rust
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 12
      - run: apt-get update && apt install -y binaryen # For `wasm-opt`
      - uses: actions-rs/toolchain@v1
        with:
          # Ideally we don't want to install any toolchain, but the GH action doesn't support this.
          toolchain: stable
          profile: minimal
      - uses: Swatinem/rust-cache@v1
      - run: npm install
        working-directory: ./bin/wasm-node/javascript
      - run: npm publish --unsafe-perm --dry-run
        working-directory: ./bin/wasm-node/javascript
      - uses: JS-DevTools/npm-publish@v1
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        # Warning: this GitHub action doesn't seem to run prepublish scripts, hence
        # the `npm publish --dry-run` done right above is important to ensure this.
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./bin/wasm-node/javascript/package.json

  # TODO: this stage is planned to be removed once smoldot is published on crates.io and its doc available on docs.rs
  deploy-gh-pages:
    runs-on: ubuntu-latest
    container:
      image: rust
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: Swatinem/rust-cache@v1
      with:
        key: docs
    - run: cargo doc --verbose --workspace --all-features --no-deps
    - uses: crazy-max/ghaction-github-pages@v2
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      with:
        target_branch: gh-pages
        build_dir: target/doc
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  all-deploy:
    # This dummy job depends on all the mandatory checks. It succeeds if and only if CI is
    # considered successful.
    needs: [build-push-docker-image, npm-publish, deploy-gh-pages]
    runs-on: ubuntu-latest
    steps:
     - run: echo Success
